 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="white">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <p>I get excited about building great products and working with great companies. I work with small and medium-sized businesses, design teams and agencies, building fast and responsive websites. </p>
                </div>
                <div class="col-lg-10 col-lg-offset-1">
                    <p>I have been one of the core organisers of codebar for 2 years. codebar aims to bridge the diversity gap in tech by running weekly programming workshops aimed at underrepresented groups. We have helped over 2000 students learn to code across 10 chapters. As well as our weekly workshops, we have also organised several one day events which you can read more about below.</p>
                </div>
            </div>
        </div>
    </section>
