<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="white" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p>
          I get excited about building great products and working with great
          companies. I work with small and medium-sized businesses, design teams
          and agencies, building fast and responsive websites.
        </p>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <p>
          I am also a Trustee of the charity codebar. codebar aims to bridge the
          diversity gap in tech by running regular programming workshops for
          minority groups in tech. We have helped over 10,000 students learn to
          code across 31 locations around the world since we started in 2016.
        </p>
      </div>
    </div>
  </div>
</section>
