<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="white" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p>
          I am a Trustee of the charity codebar. codebar started out of recognition that there is a shortage of women, non-binary, LGBTQ+, and people belonging to underrepresented ethnic groups in tech.  We are a resource for students who cannot afford formal training through coding bootcamps or university degrees, for financial reasons or otherwise. Over 10 years, we have built a global ‘codebar Community’ of 25,000+ people of all backgrounds can access free training and total tech support. 

        </p>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <p>
          I have also given many talks on diversity and inclusion, building communities and how to effectively bring in junior developers to your team. I've also run several technical workshops at events. I would love to do more of this! If you're interested, please get in touch.
        </p>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <p>
          I also get excited about building great products and working with great
          companies. I work with small and medium-sized businesses, design teams
          and agencies, building fast and responsive websites.
        </p>
      </div>
    </div>
  </div>
</section>
